body {
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
html{
    font-size: 62.5% !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row > * {
    flex: 0 0 auto;
    width: 100%;
}
.col {
    flex: 1;
    position: relative;
  }
  
.col > * {
    width: 100%;
}
  
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    flex: 0 0 auto;
}
  
.col-1 {
    width: 8.3333%;
}
  
.col-2 {
    width: 16.6667%;
}
.col-3 {
    width: 25%;
}
  
.col-4 {
    width: 33.3333%;
}
  
.col-5 {
    width: 41.6667%;
}
  
.col-6 {
    width: 50%;
}
  
.col-7 {
    width: 58.3333%;
}
  
.col-8 {
    width: 66.6667%;
}
  
.col-9 {
    width: 75%;
}
  
.col-10 {
    width: 83.3333%;
}
  
.col-11 {
    width: 91.6667%;
}
  
.col-12 {
    width: 100%;
}
  

.d-flex{
    display: flex;
}
.mt-1{
    margin-top: 1%;
}
.mt-2{
    margin-top: 2%;
}
.mt-3{
    margin-top: 3%;
}
.mt-4{
    margin-top: 4%;
}
.mt-5{
    margin-top: 5%;
}

.p-4{
    padding: 4%;
}
.bb {
    border-bottom: 0 !important;
}

.inputt{
    display: flex;
    flex: 1;
    background-color: #FFFFFF;
    padding: 0px; 
    border-radius: 8px;
    
    input{
        display: flex;
        width: 588px;
        height: 44px;
        padding-left: 0px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
    }
    button{
        margin: 0;
        border-radius: 0px 8px 8px 0px;
        background-color: #EDEDED;
    }
}

.containersau{
    display: flex;
    width: 240px;
    height: 39px;
    justify-content: flex-end;
    align-items: center;
}


.new {
    position: relative;
    background-color: #FAD2F2;
         &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -50%;
            height: 100%;
            width: 100%;
            z-index: -1;
            background-color: #FAD2F2;
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: -50%;
            height: 100%;
            width: 100%;
            z-index: -1;
            background-color: #FAD2F2;
        }
}
.productslider{
    position: relative;
    display: inline-block;
    width: 109px;
    height: 20px;
    &::before{
        content: "\2605 \2605 \2605 \2605 \2605";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        left: -0%;
        font-size: 16px;
        line-height: 16px;
        color: #EAB223;
    }
    &::after{
        content: "185";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        left: 70px;
        size: 14px;
    }
}


.pricedealofday{
    display: flex;
    color: red;

    span{
        margin-left: 5px;
        margin-top: -2px;
        width: 45px;
        height: 20px;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer{
    background-color: #93117B;

    .topfooter{
        .headerfooter{
            color: white;   
        }
        .footerlink{
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.7px;
            color: #FAD2F2;
        }
        .footerp{
            color: #FFF;
            line-height: 20px;
            letter-spacing: 0.7px;
    
        }
    }

    .coppyright{
        .footerlink{
            color: #FAD2F2;
        }
        .footerp{
            color: #FFF;
        }
    }
}



.coppyrightend{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -8px;
}


.thongtinsanpham{
    .gianew{
        font-weight: bold;
    }
    .giagoc{
        text-decoration: line-through;
    }
    p{
        margin-top: -10px;
    }
}


h1{
    margin: 0 !important;
}

header{
    background: linear-gradient(91deg, #FFF 28.2%, #DB6B9A 54.15%, #AB1E7A 85.24%);
}
.iconheader{
    display: flex;
    width: 32px;
    height: 38px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    color: white;
}
.iconbanner{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    color: #DA6897;
}
.border{
    border: 1px solid #A83893;
    border-radius: 8px;
    width: 385px;
    height: 170px;
}
p{
    margin: 0;
}


#storemenu {
    background-color: #93117B;
}
span{
    color: white
}
.userlink {
    list-style: none;
        li{
            a{
                color: white;
            }
        }
}
