@media screen and (max-width:575px) {
    .language{
        display: flex;
        position: static;
        justify-content: end;

        select{
            padding: 0;
            width: 70px;
            height: 20px;
            background-color: #AB1E7A;
            border: none;
            color: white;
        }
    }
    .containertruoc {
        position: relative;
    
        .nav-toggle{
            position: absolute;
                right: 0;
                left: inherit;
                top: 8px;
                width: 40px;
        }
        .logo{
            margin-bottom: 70px;
            display: flex;
            justify-content: start;
        }
        .abc{
                max-width: 100%;
                display: flex;
                top: 101px;
                left: 16px;
                right: 16px;
                bottom: 18px;
                position: absolute;
                margin: 0;
    
            .block-content{
                .minisearch{
                    .search{
                        .label{
                            position: absolute;
                            right: 0;
                            left: unset;
                            display: flex;
                            height: 44px;
                            justify-content: center;
                            align-items: center;
                            background: #EDEDED;
                            border-radius: 0 8px 8px 0;
                            width: 56px;
                            z-index: 1;
                        }
                    }
                    .control{
                        width: 365px ;
                        height: 44px ;
                        margin-top: -50px;
                        padding: 0;
                        border: 0;
                        input{
                            left: 0px;
                            margin: 0px;
                            height: 44px;
                            border-radius: 8px;
                            border: none;
                            position: static !important;
                        }
                        button{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .containersau{
        position: absolute;
        right: 0;
        top: 0;
        .minicart-wrapper{
            .iconcarts{
                .cartheadericon{
                    display: block;
                }
            }
        }
        .userlink{
            display: none;
        }
        .wish-list{
            display: none;
        }
        .usercontainer{
            .user{
                display: none;
            }
        }
    }
    .bannerchinhheader{
         width: 100%;
    }
    .bannerphuheader{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .bannersaudealofday {
        img {
         width: 100%;
        }
     }
    .itemsaubanner{
        width: 50%;
        display: flex;
    }
    .topcategoriescontainer{
        padding: 0;
        .itemcategories{
            width: 100% !important;
            padding-bottom: 20px;
        }
    }
    .dealofdaycontainer{
        .my-slick-carouseldealofday{
            .item{
                width: 100%;
                .motphandealofday{
                    width: 100% !important;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .bannersaudealofday{
            width: 100%;

            img{
                width: 100%;
            }
        }
    }

    .my-slick-carouseldealofday{
        .item{
            width: 100%;
            img{
                width: 100% !important;
            }
        }
    }
    .containernew{
        .rownewtop{
            .titlenew{
                width: 100%;
            }
            .newtextlink{
                width: 100%;
                p {
                    padding: 5px;
                }
            }
        }
        .rownewunder{
            justify-content: center;
            align-items: center;
            gap: 16px;
            .itemnew{
                width: 47%;
            }
        }
      
    }


    .itemfooter{
        width: 100%;
    }

    .nav-toggle{
        &::before{
            display: flex;
            justify-content: end;
        }
    }

    #quickLinksList {
        display: none;
    }

    #quickLinksList.active {
        display: block;
    }

    #quickLinksList2 {
        display: none;
    }

    #quickLinksList2.active {
        display: block;
    }

    #quickLinksList3 {
        display: none;
    }

    #quickLinksList3.active {
        display: block;
    }




    #quickLinksHeader .imgdropdown {
        display: inline-block;
        transition: transform 0.3s;
    }
    #quickLinksHeader2 .imgdropdown {
        display: inline-block;
        transition: transform 0.3s;
    }
    #quickLinksHeader3 .imgdropdown {
        display: inline-block;
        transition: transform 0.3s;
    }
 

    #quickLinksHeader.active .imgdropdown{
        transform: rotate(180deg);
    }

    #quickLinksHeader2.active .imgdropdown{
        transform: rotate(180deg);
    }

    #quickLinksHeader3.active .imgdropdown{
        transform: rotate(180deg);
    }



    footer{
        background-color: #93117B;
            
        .topfooter{
            margin-top:30px;
                
            }
            .itemfooter{
                .dropdownfooter{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid white !important;
                    height: 30px;

                    .imgdropdown{
                        display: block !important;
                    }
                }
            }
            .coppyright{
                .footerdesgin{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
    }
        
}
@media screen and (min-width:576px) and (max-width: 749px) {
    .language{
        display: flex;
        position: static;
        justify-content: end;

        select{
            padding: 0;
            width: 70px;
            height: 20px;
            background-color: #AB1E7A;
            border: none;
            color: white;
        }
    }
    .containertruoc {
        position: relative;
    
        .nav-toggle{
            position: absolute;
                right: 0;
                left: inherit;
                top: 8px;
                width: 40px;
        }
        .logo{
            margin-bottom: 70px;
            display: flex;
            justify-content: start;
        }
        .abc{
                width: 385px;
                display: flex;
                top: 101px;
                left: 16px;
                right: 16px;
                bottom: 18px;
                position: absolute;
                margin: 0;
    
            .block-content{
                .minisearch{
                    .search{
                        .label{
                            position: absolute;
                            right: 0;
                            left: unset;
                            display: flex;
                            height: 44px;
                            justify-content: center;
                            align-items: center;
                            background: #EDEDED;
                            border-radius: 0 8px 8px 0;
                            width: 56px;
                            z-index: 1;
                        }
                    }
                    .control{
                        width: 365px ;
                        height: 44px ;
                        margin-top: -50px;
                        padding: 0;
                        border: 0;
                        input{
                            left: 0px;
                            margin: 0px;
                            height: 44px;
                            border-radius: 8px;
                            border: none;
                            position: static !important;
                        }
                        button{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .containersau{
        position: absolute;
        right: 0;
        top: 0;
        .minicart-wrapper{
            .iconcarts{
                .cartheadericon{
                    display: block;
                }
            }
        }
        .userlink{
            display: none;
        }
        .wish-list{
            display: none;
        }
        .usercontainer{
            .user{
                display: none;
            }
        }
    }
    .bannerchinhheader{
         width: 100%;
    }
    .bannerphuheader{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .bannersaudealofday {
        img {
         width: 100%;
        }
     }
    .itemsaubanner{
        width: 50%;
        display: flex;
    }
    .topcategoriescontainer{
        padding: 0;
        .itemcategories{
            width: 100% !important;
            padding-bottom: 20px;
        }
    }
    .dealofdaycontainer{
        .my-slick-carouseldealofday{
            .item{
                width: 100%;
                .motphandealofday{
                    width: 100% !important;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .bannersaudealofday{
            width: 100%;

            img{
                width: 100%;
            }
        }
    }

    .my-slick-carouseldealofday{
        .item{
            width: 100%;
            img{
                width: 100% !important;
            }
        }
    }
    .containernew{
        .rownewtop{
            .titlenew{
                width: 100%;
            }
            .newtextlink{
                width: 100%;
                p {
                    padding: 5px;
                }
            }
        }
        .rownewunder{
            justify-content: center;
            align-items: center;
            gap: 16px;
            .itemnew{
                width: 47%;
            }
        }
      
    }


    .itemfooter{
        width: 100%;
    }

    .nav-toggle{
        &::before{
            display: flex;
            justify-content: end;
        }
    }


    #quickLinksList {
        display: none;
    }

    #quickLinksList.active {
        display: block;
    }

    footer{
        background-color: #93117B;
            
        .topfooter{
            margin-top:30px;
                
            }
            .itemfooter{
                .dropdownfooter{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid white !important;
                    height: 30px;

                    .imgdropdown{
                        display: block !important;
                    }
                }
            }
            .coppyright{
                .footerdesgin{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
    }
        
}
@media screen and (min-width: 750px) and (max-width: 969px) {
    .language{
        display: flex;
        position: static;
        justify-content: end;
        margin-top: -20px;
    
        select{
            padding: 0;
            width: 70px;
            height: 20px;
            background-color: #AB1E7A;
            border: none;
            color: white;
        }
    }
    .containertruoc {
        display: flex;
        align-items: center;
        margin: 0 28px 18px 28px;
        .logo {
            margin: 0;
            display: flex;
            width: 160px;
            height: 41px;
            padding-right: 0;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
        .abc {
            width: 330px;
            margin: 0 15px 0 15px;

            .control {
                display: flex;
                padding: 0;
                width: 330px;
                margin: 0;

                input{
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }
            }
        }

        .containersau {
            display: flex;
            width: 165px;
            height: 39px;
            padding-right: 0;
            align-items: center;
            gap: 0;

            .minicart-wrapper {
                order: 2;
            }
            .wishlist {
                order: 1;
            }

            .usercontainer {
                order: 3;
                display: flex;

                .userlink {
                    display: none;
                }
            }
        }
       
        
    }
     
    .bannerchinhheader {
        width: 100%;
    }
    
    .bannerphuheader {
        width: 100%;
    }
    
    .bannerphuheader img {
        width: 49%;
        height: 100%;
    }
    
    .itemsaubanner {
        width: 50%;
        display: flex;
    }
    
    .topcategoriescontainer {
        padding: 0;

        .itemcategories {
            width: auto !important;
            padding-bottom: 20px;
        }
    }
    
    
    .dealofdaycontainer {
        .my-slick-carouseldealofday .item {
            width: 100%;

            .motphandealofday {
                
                width: 100% !important;
                img {
                    width: 100%;
                }
            }
        }
        .bannersaudealofday{
            width: 100%;

            img{
                width: 100%;
            }
        }
    }
  
    .containernew .rownewtop .titlenew {
        width: 100%;
    }
    
    .containernew .rownewtop .newtextlink {
        width: 100%;
        padding: 2px !important;
    }
    
    .containernew .rownewunder {
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    
    .containernew .rownewunder .itemnew {
        width: 47%;
    }
    
    .itemfooter {
        width: 100%;
    }
    
    .nav-toggle::before {
        display: flex;
        justify-content: end;
    }

    .product-options-bottom{
        display: block;

        .addproductlove{
            padding: 0;
            margin-top: -120px !important;
        }
    }
    
    footer {
        background-color: #93117B;
    }
    
    footer .topfooter {
        margin-top: 30px;
    }
    
    footer {
        .itemfooter {
            width: 33.3333%;
            .dropdownfooter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 30px;
            }
        }
        .itemfooteripad{
            width: 100%;
            .ssss{
                margin: 0;
            }
        }

    } 
    
    footer .coppyright .footerdesgin {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
