<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Event\Observer">
        <arguments>
            <argument name="observerInstances" xsi:type="array">
                <item name="log_generated_page_html" xsi:type="object">Magentop\LogHtml\Observer\LogPageHtml</item>
            </argument>
        </arguments>
    </type>
</config>
