<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
     <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magentop_AdminModule::menu" title="Your Menu" translate="title" sortOrder="100">
                    <resource id="Magentop_AdminModule::create" title="Your Controller" translate="title" sortOrder="10">
                        <resource id="Magentop_AdminModule::index" title="Your Action" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
